<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes Form</title>
    <hr/>
    <style>
         .hdr {
        color: white;
        font-size: 80px;
        font-style: italic;
        text-align: center;
        text-shadow: 3px 3px #E1AFBD;
        text-decoration: underline;
      }

      .navigation {
        overflow: hidden;
        margin-bottom: 60px;
      }

      .navigation a:hover {
        background-color:lightgrey;
      }

      .navigation a {   
        float: center;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: large;
        background-color: #E1AFBD;
        color:#916066;
        font: bolder;
      }

      .form {
        background-color: #916066;
        text-align: center;
        margin: auto;
        align-content: center;
        margin-bottom: 60px;
      }

      body{
          background-color: #915F6D;
      }
    </style>
</head>
<h1 class='hdr'>Note Form</h1>

<div class="navigation">
    <a href="http://127.0.0.1:8000/lab-4/">Note table</a>
    <a href="http://127.0.0.1:8000/lab-4/add-note"> Add Note</a>
    <a href="http://127.0.0.1:8000/lab-4/note-list"> Note Cards</a>
</div>

<body>
    <form actions="" method="POST">
        {% csrf_token %}
        <table border="2" class='form'>
            {{ form.as_table }}
            <tr>
                <td colspan="2"> <input type = "submit" /> </td>
            </tr>
        </table>
    </form>
</body>
</html>