<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
        .hdr {
        color: white;
        font-size: 80px;
        font-style: italic;
        text-align: center;
        text-shadow: 3px 3px #E1AFBD;
        text-decoration: underline;
      }

      .navigation {
        overflow: hidden; 
      }

      .navigation a:hover {
        background-color:lightgrey;
      }

      .navigation a {  
        float: center;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: large;
        background-color: #E1AFBD;
        color:#916066;
        font: bolder;
      }
    
      body {
        background-color: #915F6D;
      }

      .kelasrow {
        background-color: #916066;
        word-wrap: break-word;
      }

      table {
        width: 100%;
        max-width: 1155px;
        table-layout: fixed;
        margin: auto;
        margin-bottom: 50px;
        margin-top: -110px;
        background-color: #D5D6EA;
        
      }

      .messindex {
        word-wrap: break-word;
      }

    </style>
  </head>
    <h1 class='hdr'>Note table</h1>

    <div class="navigation">
      <a href="http://127.0.0.1:8000/lab-4/">Note table</a>
      <a href="http://127.0.0.1:8000/lab-4/add-note"> Add Note</a>
      <a href="http://127.0.0.1:8000/lab-4/note-list"> Note Cards</a>
    </div>

    <body>
      <table border="2px solid">
        <tr  class='kelasrow'>
          <th>To</th>
          <th>From</th>
          <th>Tittle</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        {% if note %}
          {% for n in note %}
            <tr class='messindex'>
              <th>{{ n.to_text }}</th>
              <th>{{ n.from_text }}</th>
              <th>{{ n.tittle_text }}</th>
              <th>{{ n.message_text }}</th>
            </tr>
          <br/>
          {% endfor %}
        {% endif %}
      </table>
    </body>
  <body>
</html>
