<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      .tittle {
        color: white;
        font-size: 80px;
        font-style: italic;
        text-align: center;
        text-shadow: 3px 3px #E1AFBD;
        text-decoration: underline;
      }

      .box {
        height: auto;
        width: 300px;
        padding: 5px;
        background-color: #916066;
        border: 3px solid whitesmoke;
        margin: 8px;
        opacity: 0.8;
        font-size: large;
        margin-bottom: 30px;
      }

      .tofrom {
        text-align: center;
        color: whitesmoke;
        font: bolder;
      }

      .mess {
        background: grey;
        color: whitesmoke;
        padding: 10px;
        word-wrap: break-word;
      }

      .navigation {
        overflow: hidden;
      }

      .navigation a:hover {    
        background-color:lightgrey;
      }

      .navigation a {           
        float: center;            
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: large;
        background-color: #E1AFBD;
        color:#916066;
        font: bolder;
      }

      .kotak {
        display:flex;
        justify-content: space-evenly;
        padding-top: 50px;
        flex-wrap: wrap;
      }

      body {
        background: #915F6D no-repeat;
      }
    </style>
  </head>
    <h1 class="tittle">Note Cards</h1>
    <div class="navigation">
      <a href="http://127.0.0.1:8000/lab-4/">Note table</a>
      <a href="http://127.0.0.1:8000/lab-4/add-note"> Add Note</a>
      <a href="http://127.0.0.1:8000/lab-4/note-list"> Note Cards</a>
    </div>
    <body>
      <div class="kotak">
      <!-- TODO loop from Friend model -->
      {% if note %}
        {% for n in note %}
        <div class="box">
          <div class="tofrom">
            <p>To     : {{ n.to_text }}</p>
            <p>From   : {{ n.from_text }}</p>
            <hr color:"grey">
          </div>

          <div class="mess">
            <p>Tittle : {{ n.tittle_text }}</p>
            <p>Message: {{ n.message_text }}</p>
          </div>
        </div>
          {% endfor %}
      {% endif %}
      </div>
    </body>
</html>
