<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
    <h1>Friend List of Ardanisa Rachma</h1>
  <body>
    <table border="1" width="50%">
      <tr  bgcolor=#737CA1>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %}
        {% for f in friends %}
          <tr>
            <th>{{ f.name}}</th>
            <th>{{ f.NPM}}</th>
            <th>{{ f.DOB}}</th>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
