<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends Form</title>
    <hr/>
</head>
<body>
    <form actions="" method="POST">
        {% csrf_token %}
        <table border="2">
            {{ form.as_table }}
            <tr>
                <td colspan="2"> <input type = "submit" /> </td>
            </tr>
        </table>
    </form>
</body>
</html>