<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
    <h1>Note table</h1>
    <body>
      <table border="1" width="45%">
        <tr bgcolor=#7E6C8C>
          <th>to</th>
          <th>from</th>
          <th>tittle</th>
          <th>message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        {% if note %}
          {% for n in note %}
            <tr bgcolor=#7A8C6C >
              <th>{{ n.to_text }}</th>
              <th>{{ n.from_text }}</th>
              <th>{{ n.tittle_text }}</th>
              <th>{{ n.message_text }}</th>
            </tr>
          <br/>
          {% endfor %}
        {% endif %}
      </table>
    </body>
  <body>
</html>
