<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
    <h1>Friend List of Ardanisa Rachma</h1>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %}
        {% for friend in friends %}
          <tr>
            <th>{{ friend.name}}</th>
            <th>{{ friend.NPM}}</th>
            <th>{{ friend.DOB}}</th>
          </tr>
        <br/>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
